@import '@frequency-chain/style-guide';

@source '../../node_modules/@frequency-chain/style-guide/**/*.{svelte,js,ts}';

@utility title-h2 {
  /* Typeography */
  @apply font-title text-[50px] leading-[1] tracking-wider md:text-[60px] lg:text-[64px];
}

@utility title-h3 {
  @apply font-title text-[40px] leading-[1] tracking-wider md:text-[40px] lg:text-[44px];
}

@utility title-h5 {
  @apply font-title text-[18px] leading-[1] tracking-wider sm:text-[20px] md:text-[22px] lg:text-[26px];
}

@utility body {
  @apply text-normal md:text-md;
}

@media (prefers-color-scheme: light) {
	:root {
		@apply text-black bg-white;
	}
}

@layer base {
	.toast {
		@apply max-w-full text-wrap opacity-60 !important;
	}
	html {
		color-scheme: light dark;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
		scroll-behavior: smooth;
	}

	body {
		@apply m-0 min-w-f320 min-h-[100vh] flex items-center bg-white text-normal;
	}

	::placeholder {
		@apply text-gray2 !important;
	}
}
